<nav></nav>

<div class="container">

  <div class="img-doctor">
    <img class="col-12 col-lg-5 col-sm-12 fade-in" src="../../../../assets/img/home-hospital-img.svg" alt="Imagem de dois médicos!">
  </div>

  <div class="search-input col-12 fade-in">
    <div class="input-wrapper col-12 col-lg-4 col-sm-12 m-t-45">
      <fa-icon class="icon" [icon]="faMagnifyingGlass"></fa-icon>
      <input [formControl]="acoesInput" class="form-control" type="text" placeholder="Ex: João">
    </div>
  </div>



  <div *ngIf="patients.length > 0 ;else empty">
    <patient-card *ngFor="let item of this.patients" [patient]="item" (updateList)="updateList($event)"></patient-card>
  </div>

</div>

<footer></footer>


<ng-template #empty>
  <div class="not-found fade-in">
    <div class="card  col-12 col-lg-5 col-sm-12 m-t-45">
      <img src="../../../../assets/img/empty.svg" alt="Vázio">
      <p class="error-text">Nenhum resultado encontrado!</p>
    </div>
  </div>
</ng-template>
