<div class="footer">
  <div class="container">

    <div class="link-items row col-lg 12 m-l-0 m-r-0">
      <div class="vale-presente col-lg-5 col-md-12">
          <p class="link-titles">Cardápio de Restaurantes</p>
          <a href="" target="_blank">Sobre nós</a>
          <a href="">Termos de uso</a>
          <a href="" target="_blank">Política de Privacidade</a>
      </div>
      <div class="help col-lg-5 col-md-12">
        <p class="link-titles">Precisa de ajuda?</p>
        <a href="" target="_blank">Central de ajuda</a>
      </div>
      <div class="social row col-12 col-lg-2 col-md-12 m-l-0 m-r-0">
        <p class="link-titles">Social Media</p>
        <a><fa-icon class="icon" [icon]="faInstagram"></fa-icon>Instagram</a>
        <a><fa-icon class="icon" [icon]="faFacebook"></fa-icon>Facebook</a>
        <a><fa-icon class="icon" [icon]="faTwitter"></fa-icon>Twitter</a>
        <a><fa-icon class="icon" [icon]="faLinkedin"></fa-icon>Linkedin</a>
        <a><fa-icon class="icon" [icon]="faYoutube"></fa-icon>Youtube</a>
      </div>
    </div>

  </div>

</div>
